body {
    padding-top:60px;
}
/*.pinterest {
    width: 90%;
    max-width: 1200px;
    min-width: 600px;
    margin: 20px auto;
}

.pin-col {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}



@media (min-width: 900px) {
    .pin-col {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .pin-col {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}*/
/* .pin-wall:hover .pin:not(:hover) {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
}*/
.pin {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.pin img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}
.pin:hover{
    border:2px solid #AAAAAA;
}
/*.pin:not(:hover) img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}
.pin:hover img {
    width: 100%;
    margin-bottom: 21px;
    -moz-border-radius: 10px 10px;
    -webkit-border-radius: 10px 10px;
    border-radius: 10px 10px;
}
 .pin:hover {
    -webkit-box-shadow: inset 0 -6px 50px #000, inset 0 -6px 50px #000, inset 0 -6px 50px #000;
    -moz-box-shadow: inset 0 -6px 50px #000, inset 0 -6px 50px #000, inset 0 -6px 50px #000;
    box-shadow: inset 0 -6px 50px #000, inset 0 -6px 50px #000, inset 0 -6px 50px #000;
    
}*/