.container
    .footer
        hr(style='margin: 30px 0 10px 0;')
            p &copy;&nbsp;
                a(href='#') &nbsp; David  &nbsp; 2013

script(src='/js/jquery.min.js')
script(type="text/javascript", src="/js/underscore-min.js")
script(src='/js/xml2json.min.js')
script(src="/js/angular/angular.min.js")
script(src='/js/bootstrap/bootstrap.min.js')

script(src="/js/es5-shim.min.js")

// script(src='/js/bootstrap-fileupload.min.js')
script(src='/js/bootstrap-modal.js')
script(src='/js/bootstrap-modalmanager.js')

// The jQuery UI widget factory, can be omitted if jQuery UI is already included
// script(src="/js/jquery.ui.widget.js")
// The Load Image plugin is included for the preview images and image resizing functionality
script(src='/js/load-image.min.js')
// The Canvas to Blob plugin is included for image resizing functionality
// script(src='/js/canvas-to-blob.min.js')
// The Iframe Transport is required for browsers without support for XHR file uploads
// script(src='/js/fileupload/jquery.iframe-transport.js')
// The basic File Upload plugin
// script(src='/js/fileupload/jquery.fileupload.js')
// The File Upload processing plugin
// script(src='/js/fileupload/jquery.fileupload-process.js')
// The File Upload image preview & resize plugin
// script(src='/js/fileupload/jquery.fileupload-image.js')
// The File Upload audio preview plugin
// script(src='/js/fileupload/jquery.fileupload-audio.js')
// The File Upload video preview plugin
// script(src='/js/fileupload/jquery.fileupload-video.js')
// The File Upload validation plugin
// script(src='/js/fileupload/jquery.fileupload-validate.js')
// The File Upload Angular JS module
// script(src='/js/fileupload/jquery.fileupload-angular.js')
// The main application script
//- script(src='/js/angular/third/fileupload-demo.js')

script(src='/js/eventie.js')
script(src='/js/eventEmitter.js')
script(src='/js/imagesloaded.pkgd.min.js')
script(src='/js/global.js')




script(src='/js/angular/angular-resource.min.js')
script(src="/js/angular/app.js")
script(src="/js/angular/controllers.js")
script(src="/js/angular/directives.js")
script(src="/js/angular/filters.js")
script(src="/js/angular/services.js")
script(type="text/javascript", src="/js/angular/third/ng-infinite-scroll.min.js")
script(src="/js/angular-file-upload.min.js")

