.navbar.navbar-inverse
    .navbar-inner
        .containter
            a.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href='#') Photo Wall
            #navbar.nav-collapse.collapse
                ul.nav
                    li.active
                        a(href='/photo') Home
                    li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown') Photo
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href='/photo') All
                            li
                                a(href='/photo/add') New
                    li
                        a(href='/user') User
                    li
                        a(href='#') About
                ul.nav.pull-right
                    block status
                form.navbar-search.form-search.pull-right
                    .input-append
                        input.search-query(type='text')
                        button.btn.btn-inverse(type='submit') 
                            i.icon-search.icon-white