meta(charset='utf-8')
meta(name='viewport',content='width=device-width, initial-scale=1.0')
meta(name='desctription',content)
meta(name='author',content)
meta(name='keywords',content)

link(rel="stylesheet", href="/css/bootstrap.min.css")
link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
//
    link(rel="stylesheet", href="/css/app.css")