!!!5
html(ng-app='photowall')
    head
        block title
            title Photo Wall
        include ./head
        block link
    body
        .page-container
            include ./header
            .container-fluid
                include ./msg
                block content
                include ./footer
                block script

