!!!5
html(ng-app='photowall')
    head
        block title
            title Photo Wall
        include ./head
        block link
    body
        .page-container(ng-controller = 'GlobalCtrl')
            include ./header
            .container
                include ./msg
                block content
                include ./modal
                include ./footer
                block script

