
<div infinite-scroll="photos.nextPage()" infinite-scroll-disabled="photos.busy || photos.full" infinite-scroll-distance="1">
  <pinerest items="photos.items" src-name="uri" modal-target="#photo-modal" current-photo-index="currentPhotoIndex"></pinerest>
</div>
<div ng-show="photos.full"> 
  <ul class="pagination">
    <li ng-repeat="bigpage in photoPageArr"><a ng-click="photos.selectBigPage(bigpage)" ng-show="bigpage - photos.bigPageIndex">{{bigpage}}</a><span ng-show="!(bigpage-photos.bigPageIndex)">{{bigpage}}</span></li>
  </ul>
</div>
<contentloaded ng-show="photos.busy &amp;&amp; !photos.full"></contentloaded>
<div id="photo-modal" tabindex="-1" role="dialog" aria-labelledby="photo-modal-title" aria-hidden="true" class="modal fade">
  <div ng-show="loadingPhoto" class="modal-header">
    <contentloaded></contentloaded>
  </div>
  <div ng-show="!loadingPhoto" class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
    <h3 id="photo-modal-title">{{currentPhoto.addedBy.profile.name || currentPhoto.addedBy.email}}</h3>
  </div>
  <div ng-show="loadingPhoto" class="modal-body">
    <contentloaded></contentloaded>
  </div>
  <div ng-show="!loadingPhoto" class="modal-body">
    <div class="text-center well"><a data-toggle="modal" data-target="#edit-photo-modal" href="{{&quot;/jphoto/&quot;+currentPhotoId+&quot;/edit&quot;}}" class="pull-right"><span class="glyphicon glyphicon-edit"></span></a><a ng-click="nextPhoto()">
        <imgloaded img-src="{{currentPhoto.uri}}" img-class="img-responsive">                               </imgloaded>
        <p class="text-left">{{currentPhoto.desc}}</p></a></div>
    <div id="comments-accordion" class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#comments-accordion" data-target="#comments-collapse" ng-click="toggleComment()"><span>Comments</span></a></h4>
        </div>
        <div id="comments-collapse" class="panel-collapse collapse">
          <div ng-show="loadingComment" class="panel-body">
            <contentloaded></contentloaded>
          </div>
          <div ng-show="!loadingComment" class="panel-body">
            <div class="form-group">
              <label for="comment" class="sr-only">Add Comment</label>
              <textarea placeHolder="Comment" ng-model="newComment" id="comment" class="form-control input-block-level"></textarea>
            </div>
            <button type="button" ng-click="addComment()" class="btn btn-default btn-block">Submit</button>
            <ul>
              <li ng-repeat="c in currentComments ">{{$index}}:{{c.content}}</li>
            </ul>
            <ul class="pagination">
              <li ng-repeat="bigpage in currentCommentPageArr"><a ng-click="selectCommentPage(bigpage)" ng-show="bigpage - currentCommentPageIndex">{{bigpage}}</a><span ng-show="!(bigpage-currentCommentPageIndex)">{{bigpage}}</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-click="nextPhoto()" class="btn btn-default">Next</button>
    <button ng-click="prePhoto()" class="btn btn-default">Pre</button>
  </div>
</div>
