
<div id="edit-photo-modal" tabindex="-1" role="dialog" aria-labelledby="eidt-photo-modal-title" aria-hidden="true" class="modal fade">
  <div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
    <h3 id="eidt-photo-modal-title">Upload Photo</h3>
  </div>
  <div class="modal-body"></div>
</div>

<div id="user-modal" tabindex="-1" data-width="400" role="dialog" aria-labelledby="user-modal-title" aria-hidden="true" self-hide="self-hide" class="modal fade">
  <div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
    <h3 id="user-modal">Log in</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <form ng-submit="login()" method="POST" novalidate="novalidate" name="userForm">
          <div ng-class="{'has-error':userForm.email.$invalid &amp;&amp; userForm.email.$dirty}" class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input id="email" required="required" name="email" type="email" placeHolder="Email" data-ng-model="user.email" class="form-control"/><span data-ng-repeat="(key,value) in userForm.email.$error" data-ng-show="value &amp;&amp; userForm.email.$dirty" class="help-block">{{key+' error'}}</span>
          </div>
          <div ng-class="{'has-error':userForm.password.$invalid &amp;&amp; userForm.password.$dirty}" class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input id="password" name="password" required="required" type="password" ng-minlength="6" ng-maxlength="12" placeHolder="password" data-ng-model="user.password" class="form-control"/><span data-ng-repeat="(key,value) in userForm.password.$error" data-ng-show="value &amp;&amp; userForm.password.$dirty" class="help-block">{{key+' error'}}</span>
          </div>
          <div data-ng-show="info" class="has-error"><span class="help-block">{{info.message}}</span></div>
          <button type="submit" class="btn btn-default btn-block">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="upload-modal" tabindex="-1" data-width="760" role="dialog" aria-labelledby="upload-modal-title" aria-hidden="true" ng-file-drop="ng-file-drop" class="modal fade">
  <div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
    <h3 id="upload-modal-title">Upload Photo</h3>
  </div>
  <div ng-controller="UploadController" class="modal-body">
    <div class="row">
      <div class="col-md-4">
        <h3>Select files</h3>
        <div ng-file-over="ng-file-over" class="well my-drop-zone">Base drop zone</div>
        <div ng-file-drop="{url:'.foo'}" ng-file-over="another-file-over-class" class="well my-drop-zone">Another drop zone with its own settings</div>
        <button class="btn btn-success btn-upload"><i class="glyphicon glyphicon-plus"></i>&nbsp;<span>Add </span>
          <input ng-file-select="ng-file-select" type="file" multiple="multiple"/>
        </button>
      </div>
      <div style="margin-bottom: 40px;" class="col-md-8">
        <div class="row">
          <h3>Upload queue</h3>
          <p>Queue length:{{uploader.queue.length}}</p>
          <button type="button" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" class="btn btn-success btn-s"><span class="glyphicon glyphicon-upload">&nbsp;Upload all</span></button>
          <button type="button" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length" class="btn btn-danger btn-s"><span class="glyphicon glyphicon-trash">&nbsp;Remove all</span></button>
          <button type="button" ng-click="uploader.createAll()" class="btn btn-success btn-s"><span class="glyphicon glyphicon-ok">&nbsp;Create all</span></button>
        </div>
        <div class="row">
          <div class="col-md-3">Picture</div>
          <div class="col-md-2">Size</div>
          <div class="col-md-4">Status</div>
          <div class="col-md-3">Actions</div>
        </div>
        <div ng-repeat="item in uploader.queue" ng-class="{'text-danger':item.error}" class="row">
          <div class="col-md-3"><abbr ng-show="!item.uri" title="{{item.file.name}}">{{item.file.name | limitTo:10}}</abbr><a ng-show="item.uri" ng-href="{{item.uri}}">
              <imgloaded img-src="{{item.uri}}" img-class="img-responsive" img-width="80px"></imgloaded></a></div>
          <div class="col-md-2">{{item.file.size/1024|number:2}}KB</div>
          <div class="col-md-4">
            <div style="margin-bottom:0;" ng-show="item.isUploading" class="progress progress-striped">
              <div role="progressbar" ng-style="{'width':item.progress+'%'}" class="progress-bar progress-bar-success"></div>
            </div>
            <div ng-show="item.error"><abbr title="{{item.error}}"> <i class="glyphicon glyphicon-remove"> </i></abbr></div>
            <div ng-show="!item.isUploading &amp;&amp; !item.isUploaded &amp;&amp; !item.error">
              <imgloaded ng-show="isLoading" img-src="/img/ajax-loader.gif"></imgloaded>
              <div ng-show="!isLoading">Ready</div>
            </div>
            <div ng-show="item.isUploaded &amp;&amp; !item.error">
              <div class="form-group">
                <label for="{{&quot;desc&quot;+$index}}" class="sr-only"></label>
                <textarea type="text" data-ng-model="item.desc" id="{{&quot;desc&quot;+$index}}" rows="2" class="form-control"></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <button type="button" ng-click="item.upload()" ng-disabled="item.isUploaded" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-upload">&nbsp;Upload</span></button>
            <button type="button" ng-click="item.remove()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash">&nbsp;Remove</span></button>
            <button type="button" ng-click="item.create()" ng-disabled="item.error || item.isUploading || item.isLoading || !item.isUploaded" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok">&nbsp;Create</span></button>
          </div>
        </div>
        <div>
          <div ng-show="uploader.isUploading">
            <p>Queue progress:
              <div style="" class="progress progress-striped">
                <div role="progressbar" ng-style="{'width':uploader.progress+'%'}" class="progress-bar progress-bar-success"></div>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  
<div id="upload-modal" tabindex="-1" data-width="760" role="dialog" aria-labelledby="upload-modal-title" aria-hidden="true" class="modal fade">
  <div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
    <h3 id="upload-modal-title">Upload Photo</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <form id="fileupload" action="https://smqhws.s3.amazonaws.com" method="POST" enctype="multipart/form-data" data-ng-app="demo" data-ng-controller="DemoFileUploadController" data-file-upload="options" data-ng-class="{&quot;fileupload-processing&quot;: processing() || loadingFiles}">
          <div class="row fileupload-buttonbar">
            <div class="col-md-12"><span ng-class="{disabled: disabled}" class="btn btn-success fileinput-button"><i class="glyphicon glyphicon-plus"></i>&nbsp;<span>Add </span>
                <input type="file" name="file" multiple="" ng-disabled="disabled"/></span>
              <button type="button" data-ng-click="submit()" class="btn btn-primary start"><i class="glyphicon glyphicon-upload"></i>&nbsp;<span>Start</span></button>
              <button type="button" data-ng-click="cancel()" class="btn btn-warning cancel"><i class="glyphicon glyphicon-ban-circle"></i>&nbsp;<span>Cancel</span></button>
              <button type="button" data-ng-click="allPhoto()" class="btn btn-primary destroy"><i class="glyphicon glyphicon-ok"></i>&nbsp;<span>OK</span></button>
              <div class="fileupload-loading"></div>
            </div>
          </div>
          <div class="row fileupload-buttonbar">
            <div data-ng-class="{in: active()}" class="col-md-12 fade">
              <div data-file-upload-progress="progress()" class="progress progress-striped active">
                <div data-ng-style="{width: num + &quot;%&quot;}" class="progress-bar progress-bar-success"></div>
              </div>
              <div class="progress-extended">&NonBreakingSpace;</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped files ng-cloak">
                <tr data-ng-repeat="file in queue">
                  <td data-ng-switch="" data-on="!!file.thumbnailUrl">
                    <div data-ng-switch-when="true" class="preview"><a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery=""><img data-ng-src="{{file.thumbnailUrl}}" alt=""/></a></div>
                    <div data-ng-switch-default="" data-file-upload-preview="file" class="preview"></div>
                  </td>
                  <td>
                    <p data-ng-switch="" data-on="!!file.url" class="name"><span data-ng-switch-when="true" data-ng-switch="" data-on="!!file.thumbnailUrl"><a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery="">&lcub;&lcub;file&period;name&rcub;&rcub;</a><a data-ng-switch-default="" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">&lcub;&lcub;file&period;name&rcub;&rcub;</a></span><span data-ng-switch-default="">&lcub;&lcub;file&period;name&rcub;&rcub;</span></p>
                    <div data-ng-controller="FileDestroyController" data-ng-hide="!file.$destroy" class="form-group">
                      <label for="{{&quot;desc&quot;+$index}}" class="sr-only"></label>
                      <input type="text" data-ng-model="file.desc" id="{{&quot;desc&quot;+$index}}" class="form-control"/>
                    </div>
                    <div data-ng-show="file.error"><span class="label label-danger">Error</span>&lcub;&lcub;file&period;error&rcub;&rcub;</div>
                  </td>
                  <td>
                    <p class="size">&lcub;&lcub;file&period;size &VerticalLine; formatFileSize&rcub;&rcub;</p>
                    <div data-ng-class="{pending: &quot;in&quot;}[file.$state()]" data-file-upload-progress="file.$progress()" class="progress progress-striped active fade">
                      <div data-ng-style="{width: num + &quot;%&quot;}" class="progress-bar progress-bar-success"></div>
                    </div>
                  </td>
                  <td>
                    <button type="button" data-ng-click="file.$submit()" data-ng-hide="!file.$submit" class="btn btn-primary start"><i class="glyphicon glyphicon-upload"></i>&nbsp;<span>Start</span></button>
                    <button type="button" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel" class="btn btn-warning cancel"><i class="glyphicon glyphicon-ban-circle"></i>&nbsp;<span>Cancel</span></button>
                    <button data-ng-controller="FileDestroyController" type="button" data-ng-click="newPhoto()" data-ng-hide="!file.$destroy" class="btn btn-primary destroy ok"><i class="glyphicon glyphicon-ok"></i>&nbsp;<span>OK</span></button>
                    <button data-ng-controller="FileDestroyController" type="button" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy" class="btn btn-danger destroy"><i class="glyphicon glyphicon-trash"></i>&nbsp;<span>Delete</span></button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
-->