extends ../layout

block title
    title= title
block status
    include ../logoutStatus
block content
    .row
        .span6
            form.form-horizontal(action=action,method='post')
                fieldset
                        legend With a local account

                        input#email(type='text',placeHolder="Email",name='email')
                        span.help-block

                        input#password(type='password',placeHolder='password',name='password')
                        span.help-block

                        button.btn(type='submit')= submitBtn
block script
