extends ../layout

block title
    title= title
block status
    include ../loginStatus
block content
    ul
        -for(var i in objs)
            li
                a(href='photo/'+objs[i]._id)
                    img(src=objs[i].getUri())








block script
