extends ../layout

block title
    title= title
block status
    include ../loginStatus
block content
    div(ng-controller='PhotoListCtrl')
        div(infinite-scroll='photos.nextPage()' 
            ,infinite-scroll-disabled='photos.busy || photos.full' 
            ,infinite-scroll-distance='1')
            pinerest(items='photos.items'
                ,set-current='setCurrent(index)',src-name='uri')
        div(ng-show='photos.full') 
            ul.pagination
                li(ng-repeat='bigpage in page_arr')
                    a(ng-click='photos.selectBigPage(bigpage)'
                        ,ng-show='bigpage - photos.bigPageIndex') {{bigpage}}
                    span(ng-show='!(bigpage-photos.bigPageIndex)') {{bigpage}}
        div(ng-show='photos.busy && !photos.full') Loading

        #photo-modal.modal.fade(tabindex='-1'
            ,role='dialog',aria-labelledby='photo-modal-title',aria-hidden='true')
                
                        .modal-header
                            button.close(type="button",data-dismiss='modal'
                                ,aria-hidden='true' ) &times;
                            h3#photo-modal-title {{current_photo.addedBy.profile.name || current_photo.addedBy.email}}
                        .modal-body
                            .text-center.well
                                a.pull-right(data-toggle='modal',data-target='#edit-photo-modal',href='{{"/jphoto/"+current_id+"/edit"}}')
                                    span.glyphicon.glyphicon-edit
                                a(ng-click='nextPhoto()')
                                    img.img-responsive(ng-src='{{current_photo.uri}}')
                                p.text-left {{current_photo.desc}}
                            .panel-group#comments-accordion
                                .panel.panel-default
                                    .panel-heading
                                        h4.panel-title
                                            a(data-toggle='collapse',data-parent='#comments-accordion',href='#comments-collapse',ng-init = 'comments_closed = true')
                                                span(ng-show='comments_closed') Open Comments
                                                span(ng-show='!comments_closed') Close Comments
                                    #comments-collapse.panel-collapse.collapse
                                        .panel-body
                                            ul
                                                li(ng-repeat='c in current_photo.comment') {{c.content}}
            
                            .form-group
                                label.sr-only(for='comment') Add Comment
                                textarea.form-control.input-block-level(placeHolder = 'Comment',ng-model='new_comment',id='comment')
                            button.btn.btn-default.btn-block(type='button',ng-click='addComment()') Submit
                        .modal-footer
                            button.btn.btn-default(ng-click='nextPhoto()') Next
                            button.btn.btn-default(ng-click='prePhoto()') Pre

 








block script
